################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/paylocityui/.vscode/tasks.json
/paylocityui/.vscode/launch.json
/paylocityui/.vscode/extensions.json
/paylocityui/.vscode
